body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220428/pngtree-medical-pills-and-capsules-pharmacy-vector-illustration-image_1104438.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}

header {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

div {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

div h2 {
    color: #28a745;
}

#home {
    display: block;
    margin: 0 auto;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0edb3b91;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

footer {
    background-color: #28a745;
    color: #fff;
    padding: 20px;
    text-align: center;
}
